[submodule "fabulously-optimized"]
	path = fabulously-optimized
	url = https://github.com/fabulously-optimized/fabulously-optimized
[submodule "minecraft-access"]
	path = minecraft-access
	url = https://github.com/minecraft-access/minecraft-access
